#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_make:
	make all

override_dh_auto_clean:
	dh_auto_clean
	rm -f .Makefile.options.cache

override_dh_auto_configure:
	dh_auto_configure -- --enable-vte --enable-the-force --enable-gtk3

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr UDEV_PREFIX=/lib/udev/rules.d
